
#aboutme {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  text-align: justify;
}
#perfil {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 10px;
  width: auto;
}
.name {
  
  padding: 0;
  margin: 0;
  animation-name: rightLeft;
  animation-duration: 2s;
  text-shadow: 0.2vw 0.2vw 0 #106cff,  0 0 1vw #106cff, 0 0 3vw #106cff, 0 0 10vw #106cff, 0 0 10vw #106cff, 0 0 .4vw #7faffe;
  color: #e6f4ff ;
}
.ilike {
  font-family:'Atomic Age', cursive;
  gap: 0px 10px;
  animation-name: leftRight;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  text-shadow:0 0 1vw #f700ff;
  color: #f6c9f9 ;
  font-style: oblique;  
  align-self: flex-end;
}
.iconinfo_container{
  animation: shake 3s cubic-bezier(1, 1, 1, 1) both;
  animation-iteration-count: infinite;
}
#iconinfo {
  width: 3vw;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  cursor: pointer;
  animation-name: appear;
  animation-duration: 2s;
  filter: drop-shadow(0px 0px 10px rgb(255, 0, 0)) ;
}
#moreinfo {
  height: 0;
  width: 50%;
  overflow: hidden;
  font-weight: bold;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.separador{
  width: 90%;
  border-top: .2vw solid rgb(255, 206, 206);
  animation-name: downUp ;
  animation-duration: 2s;
  box-shadow: 0 0 1vw #ff1010, 0 0 3vw #ff1010, 0 0 10vw #ff1010, 0 0 10vw #ff1010, 0 0 .4vw #fedb8b;
  margin-bottom: 10vw;
}
@keyframes shake {
0% {transform: translate3d(0, 1vw, 0);
}
50% {  transform: translate3d(0, 0px, 0);}
100%{transform: translate3d(0, 1vw, 0);}
}
@keyframes contraer {
from {
    height: 52vw;
}
to {
    height: 0;
}
}
@keyframes expandir {
from {
    height: 0;
}
to {
    height: 52vw;
}
}
@keyframes arrowUp {
0% {
    transform: rotate(0);
}
100% {
    transform: rotate(180deg);
}
}
@keyframes arrowDown {
0% {
    transform: rotate(180deg);
}
100% {
    transform: rotate(360deg);
}
}
@keyframes upDown {
0% {
    opacity: 0;
    transform: translate(0px, -30px);
}
100% {
    opacity: 1;
    transform: translate(0px, 0px);
}
}
@keyframes rightLeft {
0% {
    opacity: 0;
    transform: translate(30px, 0px);
}
100% {
    opacity: 1;
    transform: translate(0px, 0px);
}
}
@keyframes leftRight {
0% {
    opacity: 0;
    transform: translate(-30px, 0px);
}
100% {
    opacity: 1;
    transform: translate(0px, 0px);
}
}
@keyframes appear {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
@keyframes downUp {
0% {
    opacity: 0;
    transform: translate(0px, 30px);
}
100% {
    opacity: 1;
    transform: translate(0px, 0px);
}
}

