
#skills{
  
  color: #ffe2e2 ;
  font-weight: bold;
}
#t-skills{
  font-size: 70px;
  font-style: oblique;
  /* font-family:'Courier New', cursive; */
  padding-bottom: 30px;
  text-shadow:  0 0 1vw #ff1010, 0 0 3vw #ff1010, 0 0 10vw #ff1010, 0 0 10vw #ff1010, 0 0 .4vw rgb(254, 127, 127);
}
.skill{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
  border-radius: 5%;
  width: 150px;
  padding: 10px;
  transition-duration: 1s;
  /* text-shadow:  0 0 1vw #106cff, 0 0 3vw #106cff, 0 0 10vw #106cff, 0 0 10vw #106cff, 0 0 .4vw #7faffe;
  color: #e2fcff ; */

  filter: drop-shadow(2px 2px 0px rgb(140, 0, 255)) ;
  color: #f5edff ;
}
.skill:hover{
  transform: scale(1.2);
}
.skillicon{
  width: 90px;
  margin: 0;
  filter: drop-shadow(4px 4px 0px rgb(140, 0, 255)) ;
}
#conte {
  display: flex;
  width: 100%;
  max-width: 700px;
  min-height: 500px;
  justify-content: space-around;
  gap: 80px 30px;
  align-items: baseline;
  align-items: center;
  padding-bottom: 70px;
  padding-top: 70px;
    width: 100%;
  display: flex;
  justify-content: center;
  align-content:center;
  align-items: center;
}
.btn-skill{
  text-align: center;
  border: none;
  background: rgba(159, 6, 136, 0);
  outline: none;
  cursor: pointer;
  font-size:20px;
  font-style: oblique;
  /* text-shadow:0 0 1vw #8800ff; */
   filter: drop-shadow(2px 2px 0px rgb(140, 0, 255)) ;
  /* color: #ff3cf8 ; */
  color: #e6d0ff ;
  font-family:'Atomic Age', cursive;
}
.tabs{
 display: flex;
 gap: 0px 30px;
}
.diamond{

  border-bottom: 4px dashed rgb(184, 249, 255);
  /* border-right: 2px  solid rgba(184, 249, 255, 0.553); */
  text-shadow:  0 0 1vw #106cff, 0 0 3vw #106cff, 0 0 10vw #106cff, 0 0 10vw #106cff, 0 0 .4vw #7faffe;
  color: rgb(226, 255, 255);
  /* background-color: rgb(22, 22, 30); */
  filter: drop-shadow(0px 0px 2px rgb(21, 0, 255));
}






