
#contact-title{
  padding-bottom: 30px ;
  padding-top: 30px ;
}
.contacticon{
  width: 50px;
}
.contact{
  display: flex;
  gap: 20px ;
  min-width: 100%;
  align-items: center;
  padding-bottom: 20px;
}
#contactme{
  
  
  display: flex;
  flex-direction: column;
  align-items: center;
}
#links{

  background-color: var(--contact-color);
  color: var(--text-color-2);
  display: flex;
  flex-direction: column;
  box-shadow: 0 -1px 10px rgb(0, 0, 0);
  padding-bottom: 90px;
}




