
#nav-bar{
  
  box-shadow: 0 4px 5px rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 70px;
  background-color: var(--contact-color);
  color: var(--text-color-2);
  z-index: 1;
}
#nav-header{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  min-height: 70px;
  padding-top: 0;
  padding-bottom: 0;
}
#nav-options{
  display: flex;
  gap: 10px 50px;
  align-items: center;
}
#a-menu{
  display: flex;
  gap: 10px 30px;
  align-items: center;
  font-family: 'Julius Sans One', sans-serif;
}
#responsive-menu{
  position: sticky;
  margin-top: 0px;
  display: grid;
  width: 100vw;
  height: calc(100vh - 90px);
  grid-template-columns: 1fr 200px;
  visibility: hidden;
}
.a-responsive{
  display: flex;
  flex-direction: column;
  background-color: var(--contact-color);
  font-family: 'Julius Sans One', sans-serif;
  gap:10px 0px ;
  box-shadow: -3px 4px 5px rgb(0, 0, 0);
  z-index: -1;
  text-align: center;
}
a{
  padding: 10px;
  width: auto;
  height: auto;
}
a:hover{
  
  border-bottom: 1px solid white;
}
.glass{
  background-color: #00000049;
}
#btn-responsive{
  display: none;
}
.btn-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background: #00000000;
  outline: none;
}





