
#aboutme {
  
  display: flex;
  
  text-align: justify;
  padding-top: 17vh;
}
#moreinfo {
 
  width: 50%;
  padding-left: 25vw;
  padding-right: 25vw;
  overflow: hidden;
  font-weight: bold;
}





