
#aboutme {
  min-height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  text-align: justify;
}
#perfil {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
  max-width: 700px;
  margin-top: 10px;
}
.intro {
  text-align: center;
}
.intro-text {
  padding: 0;
  margin: 0;
}
.name {
  font-family: "Righteous", cursive;
  padding: 0;
  margin: 0;
  animation-name: rightLeft;
  animation-duration: 2s;
}
.ilike {
  display: flex;
  gap: 0px 10px;
  animation-name: leftRight;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}
#ivanscaglioni {
  width: 100%;
  max-height: 300px;
  max-width: 300px;
  object-fit: cover;
  border-radius: 50%;
  animation-name: appear;
  animation-duration: 4s;
  margin-bottom: 20px;
  margin-top: 40px;
  box-shadow: 0px 0px 5px black;
}
#iconinfo {
  width: 40px;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  cursor: pointer;
  animation-name: appear;
  animation-duration: 2s;
}
#moreinfo {
  height: 0;

  overflow: hidden;
  max-width: 800px;
  width: 90%;

  background-color: transparent;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
.ani {
  animation-name: animalike;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.ano {
  animation-name: animalike;
  animation-duration: 4s;
  animation-iteration-count: 1;
}
@keyframes contraer {
from {
    height: 840px;
}
to {
    height: 0;
}
}
@keyframes expandir {
from {
    height: 0;
}
to {
    height: 840px;
}
}
@keyframes arrowUp {
0% {
    transform: rotate(0);
}
100% {
    transform: rotate(180deg);
}
}
@keyframes arrowDown {
0% {
    transform: rotate(180deg);
}
100% {
    transform: rotate(360deg);
}
}
@keyframes animalike {
0% {
    opacity: 0;
}
50% {
    opacity: 1;
}
60% {
    transform: translateX(0px);
}
100% {
    transform: translateX(30px);
    opacity: 0;
}
}
@keyframes upDown {
0% {
    opacity: 0;
    transform: translate(0px, -30px);
}
100% {
    opacity: 1;
    transform: translate(0px, 0px);
}
}
@keyframes rightLeft {
0% {
    opacity: 0;
    transform: translate(30px, 0px);
}
100% {
    opacity: 1;
    transform: translate(0px, 0px);
}
}
@keyframes leftRight {
0% {
    opacity: 0;
    transform: translate(-30px, 0px);
}
100% {
    opacity: 1;
    transform: translate(0px, 0px);
}
}
@keyframes appear {
0% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
@keyframes downUp {
0% {
    opacity: 0;
    transform: translate(0px, 30px);
}
100% {
    opacity: 1;
    transform: translate(0px, 0px);
}
}

