
.skill{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: -3px 2px 5px rgba(0, 0, 0, 0.363);
  border-radius: 5%;
  width: 150px;
  padding: 10px;
  transition-duration: 1s;
}
.skill:hover{
  transform: scale(1.2);
}
.skillicon{
  width: 90px;
  margin: 0;
}
.separador{
  width: 90%;
  border-top: 1px solid var(--text-color);
  animation-name: downUp ;
  animation-duration: 2s;
}
#conte {
  display: flex;
  width: 100%;
  max-width: 700px;
  min-height: 500px;
  justify-content: space-around;
  gap: 80px 30px;
  align-items: baseline;
  align-items: center;
  padding-bottom: 70px;
  padding-top: 70px;
}
.btn-skill{
  border: none;
  background: transparent;
  outline: none;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px;
  padding-right: 12px;
  padding-left: 12px;

  color: var(--text-color);
}
#skills-container {
  width: 100%;
  display: flex;
  background: linear-gradient(
    to bottom,
    var(--secundary-color) 5%,
    rgba(42, 71, 94, 0) 70%
  );
  justify-content: center;
  align-content:center;
  align-items: center;
}








