
:root {
  --vw-small:1.5vw;
  --vw-small-l:1.7;
  --vw-medium-s: 2vw;

  --vw-medium-l:4vw;

  --vw-big:7vw;
  --text-size-ss:1rem;
  --text-size-small:1.2rem;
  --text-size-medium:1.3rem;
  --text-size-large: 1.7rem;
  --title-size-l: 4.7rem;
  --title-size-m: 3.2rem;
  --title-size-s: 2.1rem;
  --title-size-ss: 1.8rem;
}
body {
  overflow-y:visible;
  overflow-x:hidden;
  padding: 0;
  margin: 0;
  transition-duration: 1s;
  font-family: 'Poiret One', cursive  ;
  color: #f8e3ff;
}
*{
  scroll-behavior:smooth;
}








main{
  display: flex;
  background-color: #1901288e;
  justify-content: center;
}
.road {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}
.component_container {
  display: flex;
  
  overflow-x:hidden;
  overflow-y: hidden;
}
.component{

  min-width: 100vw;
  animation-name: leftRight;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}
.wall {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #7209b7;
  z-index: -10;
}
#curtain{
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 188, 0, 1) 0%,
    rgb(255, 119, 0) 36%,
    rgba(255, 0, 0, 0) 36%,
    rgba(255, 0, 0, 0) 100%
  );
  z-index: 10;
}
#sun {
  
  position: absolute;
  margin-top: 1vh;
  border-radius: 50%;
  width: 45vh;
  height: 45vh;

  display: flex;
  flex-direction: column;
  
  justify-content: flex-start;
  align-items: center;
  
  filter: brightness(1.5) blur(0.5px);
  
  box-shadow: 
  0 0 1vw #8c10ff
  , 0 0 3vw #8c10ff, 
  0 0 10vw #8c10ff
  ;
  
  background: linear-gradient(
    180deg,
    rgba(255, 188, 0, 1) 0%,
    rgba(255, 117, 0, 1) 36%,
    rgb(255, 68, 0) 70%,
    rgb(169, 0, 0) 100%
  );
  overflow: hidden;
}
#line_container{
  width: 100%;
  display:  flex;
  gap: 3vh 0px;
  flex-direction: column;
  animation-name: downLoop;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1, 1, 1, 1);
}
.line{
  width: 100%;
  height: 2vh;
  background-color: #050008;
}
.lottext{
  background-color: rgba(4, 3, 5, 0.485);
}
.container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
section {
  min-width: 100vw;
  
  display: flex;
  flex-direction: column;
  
  align-items: center;
}
main {
  width: 100vw;
  min-height: 100vh;
}
a {
  text-decoration: none;
}
.title-l{
  font-family:'Atomic Age', cursive;

 
  text-shadow: 0 0 1vw #8c00ff, 0 0 3vw #8c00ff, 0 0 10vw #8c00ff, 0 0 10vw #8c00ff, 0 0 .4vw #d6a3ff;
}
.title-s{
  font-family:'Atomic Age', cursive;
  text-shadow: 0 0 1vw #8c00ff, 0 0 3vw #8c00ff, 0 0 10vw #8c00ff, 0 0 10vw #8c00ff, 0 0 .4vw #d6a3ff;
}
@keyframes downLoop {
0% {
    transform: translate(0 , 0px);
}
100% { 
    transform: translate(0 , 5vh);
}
}


