@media all and (max-width: 600px) {
        /* ------------ ABOUT ME------------- */
        @keyframes contraer {
            from {
              height: 620px;
            }
            to {
              height: 0;
              
            }
        }
          
        @keyframes expandir {
            from {
              height: 0;
            }
            to {
              height: 620px;
              
            }
        }


    body{
        font-size: var(--text-size-small);
    }

    .btn-skill{
        font-size: var(--text-size-small);
    }

    .title{
        font-size: var(--title-size-m);
    }
    .skill{
        width: auto;
    }
    #conte {
        gap: 20px 10px;
        min-height: 200px;
        padding-top: 30px;
    }
    .skillicon{
        width: 70px;
        margin: 0;
      
    }
}
