@media all and (max-width: 400px) {

    /* ------------ ABOUT ME------------- */
    @keyframes contraer {
        from {
        height: 720px;
        }
        to {
        height: 0;
        
        }
    }
    
    @keyframes expandir {
        from {
        height: 0;
        }
        to {
        height: 720px;
        
        }
    }
    

    ul{
        padding: 0;
    }
    body{
        font-size: var(--text-size-small);
    }
    #nav-header{
        padding: 5px;
    }

    .btn-skill{
        font-size: var(--text-size-medium);
    }

    .title{
        font-size: var(--title-size-s);
    }
    .skill{
        width: auto;
    }
    #conte {
        gap: 20px 10px;
        min-height: 200px;
        padding-top: 30px;
    }
    .skillicon{
        width: 70px;
        margin: 0;
      
    }
    .contact{
        min-width: auto;
    }
    #contactme{
        width: 100%;
    }



}

